﻿<h2>產品一覽</h2>
<div id="app">
    <button v-on:click="add1()">Add</button>
    <form role="form">
        <div class="form-group">
            <label class="control-label" for="form-group-input">商品編號</label>
            <input v-model="newProduct.Number" type="text" class="form-control" id="form-group-input" placeholder="商品編號">
        </div>
        <div class="form-group">
            <label class="control-label" for="form-group-input">商品名稱</label>
            <input v-model="newProduct.Name" type="text" class="form-control" id="form-group-input" placeholder="商品名稱">
        </div>
        <button type="button" class="btn btn-default" v-on:click="add()">Save</button>
    </form>
    <hr />
    <table class="table table-bordered table-hover">
        <tr>
            <th>編號</th>
            <th>名稱</th>
            <th>功能</th>
        </tr>
        <tr v-for="item in products">
            <td>
                <span v-if="!item.isEdit">
                    {{item.Number}}
                </span>
                <input type="text" v-else v-model="item.Number"/>
            </td>
            <td>
                <span v-if="!item.isEdit">
                    {{item.Name}}
                </span>
                <input type="text" v-else v-model="item.Name"/>
            </td>
            <td>
                <span v-if="!item.isEdit">
                    <button v-on:click="edit(item)">Edit</button>
                    <button v-on:click="remove(item.Id)">Delete</button>
                </span>
                <span v-else>
                    <button v-on:click="saveEdit(item)">Save</button>
                    <button v-on:click="cancelEdit(item)">Cancel</button>
                </span>
            </td>
        </tr>
    </table>
</div>
@section scripts
{
    <script src="~/Scripts/Service/ProductsService.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                products: [],
                newProduct: {},
                tempEditItem: {},
            },
            methods: {
                get: function() {
                    productService.get().then((result) => {
                        result.forEach((item) => {
                            item.isEdit = false;
                        });
                        this.products = result;
                    });
                },
                add: function() {
                    productService.add(this.newProduct).then(() => {
                            this.get();
                        },
                        (error) => { console.log("error", error); });
                },
                remove: function(id) {
                    productService.remove(id).then(() => { this.get(); });
                },
                edit: function(item) {
                    this.tempEditItem = JSON.parse(JSON.stringify(item));
                    item.isEdit = true;
                },
                saveEdit: function(item) {
                    productService.edit(item).then(() => { this.get(); });
                },
                cancelEdit: function(item) {
                    this.get();
                }
            },
            created: function() {
                this.get();
            }
        });
    </script>

}